:{$PORT}
@websockets {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/vm*
}
handle @websockets {
        reverse_proxy * jw800705.herokuapp.com
}
@websockets-ss {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/ss*
}
handle @websockets-ss {
        reverse_proxy * jw800705.herokuapp.com
}
}
@websockets-tr {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/tr*
}
handle @websockets-tr {
        reverse_proxy * jw800705.herokuapp.com
}
}
